#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.image-edit-container {
  position: relative;
}

.selected-image {
  max-width: 100%;
  display: block;
}

.masked-image {
  position: absolute;
  top: 0;
  left: 0;
  cursor: crosshair;
}
