@use "./variables";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.instructions-container {
  text-align: left;
}

.edit-btn-wrapper {
  text-align: left;
  margin-top: 30px;
}

.edit-button {
  background-color: variables.$main-color;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 5px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  &:disabled {
    color: variables.$disabled-text;
    background-color: variables.$disabled-bg;
    cursor: default;

    &:hover {
      color: variables.$disabled-text !important;
      background-color: variables.$disabled-bg !important;
      transform: none;
    }
  }

  &:hover {
    color: #fff !important;
    background-color: variables.$color-hover !important;
    transform: scale(1.05);
  }
}

.clear-button {
  margin-right: 20px;
}

.image-input-container {
  text-align: left;

  .image-input {
    display: none;
  }

  .image-input-label {
    color: variables.$main-color;
    border: 1px solid variables.$color-hover;
    padding: 5px 15px;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
  }
}

.result-container {
  margin-top: 30px;
}


@media(max-width: 410px) {
  body {
    min-width: 280px;
  }

  h1 {
    font-size: 2em;
  }

  #root {
    padding: 20px;
  }
}