#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.instructions-container {
  text-align: left;
}

.edit-btn-wrapper {
  text-align: left;
  margin-top: 30px;
}

.edit-button {
  background-color: rgb(211, 104, 104);
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 5px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  &:disabled {
    color: #d6d1d1;
    background-color: rgb(198, 154, 154);
    cursor: default;

    &:hover {
      color: #d6d1d1 !important;
      background-color: rgb(198, 154, 154) !important;
      transform: none;
    }
  }

  &:hover {
    color: #fff !important;
    background-color: rgb(239, 114, 114) !important;
    transform: scale(1.05);
  }
}

.clear-button {
  margin-right: 20px;
}

.image-input-container {
  text-align: left;

  .image-input {
    display: none;
  }

  .image-input-label {
    border: 1px solid grey;
    padding: 5px 15px;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
  }
}

.result-container {
  margin-top: 30px;
}
