#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.instructions-container {
  text-align: left;
}

.edit-btn-wrapper {
  text-align: right;
  margin-top: 30px;
}

.edit-button {
  background-color: rgb(211, 104, 104);
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 5px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  &:disabled {
    background-color: rgb(198, 154, 154);
    cursor: default;

    &:hover {
      background-color: rgb(198, 154, 154);
      transform: none;
    }
  }

  &:hover {
    background-color: rgb(239, 114, 114);
    transform: scale(1.05);
  }
}

.result-container {
  margin-top: 30px;
}
